
body,
html {
    height: 100%;

}

*, *::before, *::after {
    box-sizing: border-box;
}
p {
	font-size: 18px;
}
body {
	color: #231f20;
font-family: 'Roboto', sans-serif;
font-size: 14px;
 /* background-color: #f3f4f9; */
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a {
    color: #0775B7;

}

/***** Dashbarod Start */
.mainsection {
  display: flex;
}
.left-panel {
    width: 17.5%;
    position: fixed;
    height: 100%;
    background: #2B3242;
    box-shadow: 2px 8px 8px 1px #88888824;

}
.right-panel {
  width: 100%;
  margin-left: 17%;
}
.top-header {
    background-color: #fff;
  /* width: 100%; */
    position: fixed;
    /* width: calc(100% - 17%); */
    width: calc(96% - 17%);
    left: 17%;
    z-index: 1;
    /* box-shadow: 5px 4px 7px #00000026; */
    border-bottom:1px solid #D7DADF;
    margin:0 20px;
}
.toggleIcon img{
  display: none;
}
.logo {
    background: #2B3242;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    color:#fff;
}
.logo img{
  width:35px;

}
.logoText{
  font-size:20px;
  padding-left:10px;
}
.manu-section ul li {
  list-style: none;
      
          margin-bottom: 5px;

}
.manu-section ul {
  margin:0px;
  padding: 0px;
}
.manu-section ul li  a {
  color: #AFB6BF;
  padding: 12px 10px;
  display: inline-block;
  width: 100%;
  font-size:14px;
}
.manu-section .active {
    background-color: #010d29;
    border-radius: 0px 28px 28px 0px;
}
.manu-section ul .active a {
      color: #ffffff;
}
.main-content {

  padding: 15px 35px 15px 20px;
  margin-top: 50px;
}
.topmenu {
  padding: 3px 0px;
      display: flex;
    justify-content: space-between;
    align-items: center;
}
.userdropdown ul {
  margin: 0px;
  padding: 0px;

}
.userdropdown ul li {
  list-style: none;
}
.userdropdown ul li a{
    padding: 6px 13px;
    display: inline-block;
    width: 100%;
    color: #1D1D1D;
    font-size: 14px;
}
.userdropdown ul li:hover {
  background-color: #2b3242;
}
.userdropdown ul li:hover a {
  color: #ffffff;
}
.userdropdown {
  padding: 0;
  box-shadow: 0px 4px 8px 1px #88888838;
  border: 0px;
  border-radius: 0;
}
.topicons {
  background-color: #ffffff;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
   padding: 5px;
   box-shadow: 0px 2px 4px 0px #00000029;
}
.topicons img {
  width: 20px;
}
.iconsulTop {
  margin-bottom: 0px;
}
.topicons {
  position: relative;
}
.topNotification {
 background-color: #ef2005;
    position: absolute;
    top: -4px;
    left: -4px;
    padding: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 12px;
}
.user-section {
  display: flex;
}
.user_section {
  padding: 0px 0px 0px 4px;
}
.user_section .dropdown-toggle {
      color: #ffffff;
      cursor: pointer;
}

.topicons .fa {
  margin: 3px 2px;
  color: #636D7B;
  font-size: 20px;
}
.openmenu {
    left: -280px;
    z-index: 1;
    transition: 0.5s;
}
.toggleIcon {
  cursor: pointer;
}
.fullContentPanel {
  margin-left: 0px;
  transition: 0.5s;
}
.page-title h2{
 color: #3D3D3D;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 15px;

}
.page-title {
      border-bottom: 1px solid #CFCFCF;
          margin-bottom: 20px;
}
.fullwidthPanel .top-header {
      width: calc(100% - 5%);
      left: 5%;
}
.fullwidthPanel .left-panel {
         width: 5%;

}
.manu-section ul li a:hover {
      background-color: #010d29;
      color: #ffffff;
      
}
.fullwidthPanel .right-panel {

           margin-left: 5%;
}
.fullwidthPanel .manu-section span {
  display: none;
}
.fullwidthPanel .manu-section ul li {
      margin-right: 0px;
}
.fullwidthPanel .manu-section .active {
  border-radius: 0px;
}
.fullwidthPanel .logo img{
    padding: 6px 1px;
}
.fullwidthPanel .manu-section ul li a:hover {
      background-color: #FB9E23;
      color: #ffffff;
      border-radius: 0px;
}
.customCard {
 background-color: white;
    border: 0px;
    -webkit-box-shadow: 0px 4px 11px #dedede;
    -moz-box-shadow:    0px 4px 11px #dedede;
    box-shadow: 0px 4px 11px #dedede;

}
.card-title h2 {
      font-size: 20px;
    color: #433D3D;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 12px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
      background: #fb9e23;
          border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #fb9e23;
          border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
      border-radius: 50px;
    border: 0px;
}
.manu-section li a i {
     
    font-size: 18px;
    width: 20px;
}

.manu-section li span {
  margin: 0px 10px;
}


/***** Dashbarod End */
.PropasalTab .active {
      color: #fb9e23;
}

/**** Aris Start ******/

.PropasalTab .nav-item a {
  color: #1D1D1D;
    font-size: 20px;
    border: 0;
}
.PropasalTab .nav-item .active {
      background: #f3f4f9;
    border-bottom: 2px solid #fb9e23;
    color: #fb9e23;
}
.PropasalTab-content {
  margin-top: 20px;
}
.PropasalTab .nav-item .active {
  position: relative;
}
.PropasalTab .nav-item .active:after {
        content: '';
    position: absolute;
    bottom: -12px;
    left: cl;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fb9e23;
    left: 40%;
}
.customCard .card-body {
  padding: 15px 10px;
}
.aris_values_info label {
     font-size: 13px;
    font-weight: 500;
}
.aris_values_info input{
    height: 30px;
    font-size: 14px;
}
.aris_values_info .form-group {
  margin-bottom: 10px;
}
.iconInput .input-group-text {
    padding: 2px 5px;
    font-size: 12px;
}
.left-panel{
  border-radius: 20px;

}
.left-panel .logo{
  border-radius: 20px 20px 0 0;
}
.logohr{
  border-top: 1px solid #636D7B;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0!important;
  opacity: 0.5;
}

.pageTitle{
  color:#2B3242;
  font-weight: 700;
  font-size:30px;
}
.breadcrum{
  color: #87919F;
  border-bottom: 1px solid #dee2e6;
  font-size: 14px;
  padding-bottom: 5px;
}
.activebc{
  color:#2B3242;
}
.d-shadow{
  box-shadow: 0px 7px 20px 0px #bdbdbd;
  border-radius: 7px;
}
.noarrow.dropdown-toggle::after{
  border:0;
}
.d-shadow i{
  margin-right:10px;
}
/**** Dashbaord End ******/
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 3.1rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    font-size:14px;
}

.filterSelect{
  width:100px!important;
  border-left:0;
  border-radius: 0 10px 10px 0;
  padding-left:10px!important;
}
.searchRadius{
  border-radius: 10px 0 0 10px;
}
.has-search .form-control {
    height: calc(1.5em + .75rem + 15px);
  }
  .b-1{
    border:1px solid #ddd;
    color:gray;
  }
.customSuccess{
  background: #41CC84;
  color:#fff;
  border:1px solid #41CC84;
}

.customSuccess.dropdown-toggle::after{
  border:0;
  margin-left:0;
}


.modal-dialog{
  height: 355px;
  width: 642px;
}

.circle{
  margin: 0px 10px 0px 1px;
  display: flex;
  align-items: center;
  width: 30px;

}

.circle img{
  width: 30px;
  height: auto;
}